h2 {
    color: white;
  }
  a
  {
    color: white;

  }
  .jumbotron
  {
    background-color:indigo;
  }
  h3{
      color:white;
      text-align: center;
  }
  form {
    
    padding-top: 600px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 80px;
  }
 .thumbnail
 {
    padding-top: 600px;  
    padding-right: 20px; 
    
 }
 .caption
 {
     color:white;
     background-color:  indigo;

 }
 .orange
 {
     text-align:center;
 }
